{% extends "base.twig" %}

{% block title %}Profile{% endblock %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block content %}
  <h2>My Profile</h2>
<div class="flex-center">
  <form method="post" action="/profile">
    <div>
      <label for="lastname">Lastname:</label><br>
      <input type="text" name="lastname" placeholder="RAMBO" {% if user %}value="{{ user.local.lastname }}" {% endif %}required>
    </div>
    
    <div>
      <label for="firstname">Firstname:</label><br>
      <input type="text" name="firstname" placeholder="John" {% if user %}value="{{ user.local.firstname }}" {% endif %}required>
    </div>

    <div>
      <label for="nickname">Nickname:</label><br>
      <input type="text" name="nickname" placeholder="Vegeta44" {% if user %}value="{{ user.local.nickname }}" {% endif %}required>
    </div>

    <div>
      <label for="email">Email:</label><br>
      <input type="mail" name="email" placeholder="jean.dupont@tld.fr" {% if user %}value="{{ user.local.email }}" {% endif %}disabled>
    </div>

    <div>
      <label for="password">New password:</label><br>
      <input type="password" name="password" required>
    </div>

    <div>
      <label for="password_confirm">Please confirm your new password:</label><br>
      <input type="password" name="password_confirm" required>
    </div>

    <div>
      <label for="birthdate">Birthdate:</label><br>
      <input type="date" name="birthdate" {% if user %}value="{{ user.local.birthdate | date('Y-m-d') }}" {% endif %}required>
    </div>

    <div>
      <label for="gender">Gender:</label><br>
      <select name="gender" required>
        <option {% if user %}{% if user.local.gender == "Man" %}selected{% endif %}{% endif %}>Man</option>
        <option {% if user %}{% if user.local.gender == "Woman" %}selected{% endif %}{% endif %}>Woman</option>
        <option {% if user %}{% if user.local.gender == "Other" %}selected{% endif %}{% endif %}>Other</option>
      </select>
    </div>

    <div>
      <label for="presentation">Presentation:</label><br>
      <textarea name="presentation">{% if user %}{{ user.local.presentation }}{% endif %}</textarea>
    </div>

    <div>
      <label for="picture">Picture:</label><br>
      <textarea name="picture">{% if user %}{{ user.local.picture }}{% endif %}</textarea>
    </div>

    <div>
      <label for="btn_submit" class="btn_submit">Save your modifications</label><br>
      <input type="submit" name="btn_submit" class="none" id="btn_submit">
    </div> 

  </form>
</div>
  
{% endblock %}